@model InventoryHubUI.Models.Product
<link href="~/css/EditProduct.css" rel="stylesheet" />
<div class="row" style="margin-top:15px;">
    <div id="ProductId" hidden>@Model.ProductId</div>
    <div id="ProductImagePath" hidden>@Model.ImagePath</div>
    <div class="col-md-8">
        @* Search  & Title Page *@
        <div class="row mb-3 mt-3">
            <div class="col-md-6">
                <h3>Edit Product</h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" value="" placeholder="Search By Product Code" id="txtSearchByCode" />
                </div>

            </div>
        </div>

        @* Form  AREA *@
        <form method="post" id="edit-form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Name">Product Name</label>
                        <input asp-for="@Model.Name" class="form-control" value="@Model.Name" disabled />
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Code">Code</label>
                        <input asp-for="@Model.Code" class="form-control" value="@Model.Code" disabled />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.StockQuantity">Stock Quantity</label>
                        <input class="form-control" asp-for="@Model.StockQuantity" value="@Model.StockQuantity" />
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input class="form-control" asp-for="Price" value="@Model.Price" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Category</label>
                        <select asp-for="CategoryId" class="form-control category-select" asp-items="ViewBag.CategoryList">
                            <option value="">-- Select Category --</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StoreId" class="control-label">Store</label>
                        <select asp-for="StoreId" class="form-control stock-select" asp-items="ViewBag.StoresList">
                            <option value="">-- Select Stock --</option>
                        </select>
                        <span asp-validation-for="StoreId" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.Description">Description</label>
                        <textarea asp-for="@Model.Description" class="form-control" style="height:150px;width:100%; resize:none;">@Model.Description</textarea>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4 sectionIcons" style="text-align:start">
                    <i onclick="GetProduct(TypeOfSearch.Previous)" class="bi bi-arrow-left-square-fill" style=" font-size: 34px; cursor: pointer;"></i>
                </div>
                <div class="col-md-4" style="text-align:center">
                    <button id="edit-product" type="submit" class="btn background-design" style=" width: 137px; height: 53px; font-size: 19px; text-transform: uppercase;">
                        Edit
                    </button>
                </div>
                <div class="col-md-4 sectionIcons" style="text-align:end">
                    <i onclick="GetProduct(TypeOfSearch.Next)" class="bi bi-arrow-right-square-fill " style=" font-size: 34px; cursor: pointer;"></i>
                </div>
            </div>
        </form>

    </div>
    @* IMAGE  AREA *@
    <div class="col-md-4" style="position:relative">
        <div class="Image-Area" style="width: 100%; display: flex; justify-content: center; height: 80%;">
            <div class="layout-visable"></div>
            <div class="layer-image">
                <div class="image-upload-container " style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                    <input type="file" accept="image/*" style="display:none" id="file-input" />
                    <div class="upload-message">
                        <i class="bi bi-file-image-fill"></i>
                        <p style="font-size:19px;">Change Product Image.</p>
                    </div>
                </div>

            </div>
            <div class="product-image" style="width: 100%">
                <div class="image-div" style="background-image: url('@Model.ImagePath');"></div>
            </div>
        </div>
        <div style="text-align:center" class="mt-2">
            <button id="SaveImage" onclick="ChangeProductImage()" class="btn background-design" style=" width: 180px; height: 42px; font-size: 17px; text-transform: uppercase;">Save Image</button>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        let isImageChanged = false;
        document.querySelector('.image-upload-container').addEventListener('click', function () {
            document.getElementById('file-input').click();
        });
        // عندما يختار المستخدم صورة جديدة
        document.getElementById('file-input').addEventListener('change', function () {
            var file = this.files[0];

            if (file) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // عرض الصورة كخلفية
                    document.querySelector('.image-div').style.backgroundImage = 'url(' + e.target.result + ')';
                    $(".image-upload-container").addClass("image-background");
                };

                reader.readAsDataURL(file);
                isImageChanged = true;

            }
        });

        // ChangeProductImage
        function ChangeProductImage() {

            var fileInput = $('#file-input')[0];
            var file = fileInput.files[0]; // الحصول على الملف المرفوع

            if (!file || !isImageChanged) {
                return;
            }

            var formData = new FormData();
            formData.append('ImagePath', file); // إضافة الملف إلى FormData
            formData.append('Id', $("#ProductId").text()); // إضافة بيانات المنتج

             $.ajax({
                    url: '@Url.Action("ChangeProductImage", "Products")',
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {

                        if (response.success == "true") {
                            toastr.success(response.message, 'Sucesss');
                            isImageChanged = false;
                            $("#ProductImagePath").text(response.imagePath);
                        } else {
                            $("#ProductImagePath").text('');

                            toastr.error(response.message, 'Error');
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error("Failed to add the product.", 'Error');
                    }
                });

        }

        const TypeOfSearch = {
            Previous: 1,
            Next: 2,
            ByCode: 3
        };        // Previous Product
        function GetProduct(searchType) {

            let Code = $("#txtSearchByCode").val() ? $("#txtSearchByCode").val(): "";
            var formData = new FormData();
            formData.append('Code', Code); // إضافة الملف إلى FormData
            formData.append('ProductId', +$("#ProductId").text()); // إضافة بيانات المنتج
            formData.append('SearchType', searchType); // إضافة بيانات المنتج


            $.ajax({
                    url: '@Url.Action("GetProduct", "Products")',
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false, // هذه القيمة يمكن تعديلها حسب الحالة
                    success: function (response) {
                        
                        if (response) {
                            if (response.success == 'true') {
                                $("#ProductId").text(response.productViewModel.productId);
                                $("#Code").val(response.productViewModel.code);
                                $("#Description").val(response.productViewModel.description);
                                $("#Price").val(response.productViewModel.price);
                                $("#StockQuantity").val(response.productViewModel.stockQuantity);
                                $("#Name").val(response.productViewModel.name);
                                document.querySelector('.image-div').style.backgroundImage = 'url(' + response.productViewModel.imagePath + ')';
                                $("#ProductImagePath").text(response.productViewModel.imagePath)
                                $("#CategoryId").val(response.productViewModel.categoryId)
                                $("#StoreId").val(response.productViewModel.storeId)
                                $("#txtSearchByCode").val("");

                            } else {
                                toastr.error(response.message, 'Error');
                            }
                        }
                        else {
                            console.log(response);


                        }
                    }
                });
        }

        $("#txtSearchByCode").on("keydown", function (e) {

                if (e.key === "Enter" && $("#txtSearchByCode").val()) {
                    e.preventDefault(); // منع السلوك الافتراضي (مثلاً إرسال النموذج)

                    // استدعاء الدالة الخاصة بالبحث
                    GetProduct(TypeOfSearch.ByCode);
                }
            });

        $("#edit-product").on('click', function (e) {
            
                e.preventDefault();
                if (!$('#edit-form').valid()) {
                    toastr.info('Please fill in all required fields.', 'Validation Error');
                    return;
                }
                let
                    categoryId = $("#CategoryId").val(),
                    stockId = $("#StockId").val();
                // التأكد من أن التصنيف تم اختياره
                if (!categoryId) {
                    toastr.error("Please select a category.", 'info');
                    return;
                }
                var formData = new FormData();
                formData.append("Name", $("#Name").val());
                formData.append("Code", $("#Code").val());
                formData.append("Description", $("#Description").val());
                formData.append("StockQuantity", $("#StockQuantity").val());
                formData.append("Price", $("#Price").val());
                formData.append("ProductId", $("#ProductId").text());
                formData.append("StockId", stockId);
                formData.append("CategoryId", categoryId);
                formData.append("ImagePath", $("#ProductImagePath").text());

                $.ajax({
                    url: '@Url.Action("EditProduct", "Products")',
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {

                        if (response.success == "true") {
                            //$("#ProductId").text(response.productId);
                            //$("#Code").val(response.code);
                            //$("#Description").val(response.description);
                            //$("#price").val(response.price);
                            //$("#Name").val(response.name);
                            //$("#StockQuantity").val(response.stockQuantity);
                            //document.querySelector('.image-div').style.backgroundImage = 'url(' + response.imagePath + ')';
                            //$(".category-select").val(response.categoryId);
                            //$(".stock-select").val(response.stockId);

                            toastr.success(response.message,'Sucesss');
                        } else {

                            toastr.error(response.message, 'Error');
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error("Failed to add the product.", 'Error');
                    }
                });
            });
    </script>
}